{% extends "basic.html" %}

{% block title %}
blog
{% endblock title %}
{% block blogctactive %}
active {% endblock blogctactive %}
{% block body %}


<div class="jumbotron p-4 p-md-5 text-black rounded  my-2 ba bg  mx-2">
        
        <div class="col-md-4 px-0">
                <h1 class="display-4 font-italic"><b>Title of a longer featured blog post </b></h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly
                        and efficiently about what’s most interesting in this post’s contents.</p>

        </div>
</div>
{% if messages %}
{% for  message in messages %}
<div class="alert alert-{{message.tags}}" role="alert">
        <h1>{{message}}{{search}}</h1>
        {% endfor %}
        
</div>
{% endif %}
<div class="container">
        <div class="row mb-2">
                {% for blog in blog %}
                <div class="col-md-6">
                        <div
                                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light my-2">
                                <div class="col p-4 d-flex flex-column position-static">
                                        <strong class="d-inline-block mb-2 text-primary">Blog.No{{blog.id}}</strong>
                                        <h3 class="mb-0">{{blog.blogname}}</h3>
                                        <div class="mb-1 text-muted">{{blog.date}}</div>
                                        <p class="card-text mb-auto"><b>{{blog.blogtitle}}</b>.</p>
                                        <p class="card-text mb-auto">{{blog.text | truncatechars:60 }}.</p>
                                        <a href="/blogblogpage{{blog.id}}" class="stretched-link">Continue reading</a>
                                </div>
                                <div class="col-auto d-none d-lg-block mx-2 my-4 ">
                                        <img src="media/{{blog.image}}" class="bd-placeholder-img " width="200"
                                                height="250" preserveAspectRatio="xMidYMid slice" focusable="false"
                                                role="img">



                                </div>
                        </div>
                </div>
                
                {% endfor %}

        </div>
</div>



{% endblock body %}